In [1]:
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_csv('flags.csv')

In [5]:
len(df.columns)

30

In [6]:
df['area'].dtype

dtype('int64')

In [10]:
df['mainhue'].mode()

0    red
Name: mainhue, dtype: object

In [8]:
df['religion']

0      2
1      6
2      2
3      1
4      0
      ..
189    1
190    6
191    5
192    5
193    5
Name: religion, Length: 194, dtype: int64

In [11]:
(df['mainhue'] == 'blue').count() / len(df['mainhue'])

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [15]:
df['mainhue'].value_counts()['blue']

40

In [13]:
df['mainhue'].count()

194

In [22]:
df[(df['circles'] == 0) & (df['bars'] == 0)].count()

name          131
landmass      131
zone          131
area          131
population    131
language      131
religion      131
bars          131
stripes       131
colours       131
red           131
green         131
blue          131
gold          131
white         131
black         131
orange        131
mainhue       131
circles       131
crosses       131
saltires      131
quarters      131
sunstars      131
crescent      131
triangle      131
icon          131
animate       131
text          131
topleft       131
botright      131
dtype: int64

In [21]:
df[df['bars'] == 0].count()

name          159
landmass      159
zone          159
area          159
population    159
language      159
religion      159
bars          159
stripes       159
colours       159
red           159
green         159
blue          159
gold          159
white         159
black         159
orange        159
mainhue       159
circles       159
crosses       159
saltires      159
quarters      159
sunstars      159
crescent      159
triangle      159
icon          159
animate       159
text          159
topleft       159
botright      159
dtype: int64

In [19]:
df

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green