In [2]:
import pandas as pd

In [6]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['Bob', 'Gale', 'Marta'], columns=['date', 'shift', 'payout'])

In [7]:
df

       date  shift  payout
Bob       1      2       3
Gale      4      5       6
Marta     7      8       9

In [8]:
df.T

        Bob  Gale  Marta
date      1     4      7
shift     2     5      8
payout    3     6      9

In [12]:
df['date'] # variable select

Bob      1
Gale     4
Marta    7
Name: date, dtype: int64

In [14]:
df.loc['Marta']

pandas.core.series.Series

In [15]:
df.loc[:, 'payout']

Bob      3
Gale     6
Marta    9
Name: payout, dtype: int64

In [16]:
df.loc['Gale', 'date']

4

In [17]:
df['Bob':'Gale'] # slice by rows

      date  shift  payout
Bob      1      2       3
Gale     4      5       6

In [18]:
df[:2]

      date  shift  payout
Bob      1      2       3
Gale     4      5       6

In [19]:
df[['date', 'payout']]

       date  payout
Bob       1       3
Gale      4       6
Marta     7       9

In [21]:
df.loc[:, 'date':'shift']

       date  shift
Bob       1      2
Gale      4      5
Marta     7      8

In [22]:
df.iloc[0:, 1:]

       shift  payout
Bob        2       3
Gale       5       6
Marta      8       9

In [23]:
df.iloc[0, 2] = 35
df

       date  shift  payout
Bob       1      2      35
Gale      4      5       6
Marta     7      8       9