In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('adult-all.csv')

In [7]:
df

,age,workclass,fnlwgt,education,education-num,martial-status,occupation,moving,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,profit
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,NaN
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,NaN
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,NaN
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,NaN
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K,NaN
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K,NaN
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K,NaN
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K,NaN
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K,NaN

In [9]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [13]:
df.groupby('education')['age'].mean()

education
10th            37.902808
11th            32.141832
12th            32.235921
1st-4th         46.639676
5th-6th         43.585462
7th-8th         49.525654
9th             40.902116
Assoc-acdm      37.777014
Assoc-voc       38.651140
Bachelors       38.896324
Doctorate       47.530303
HS-grad         39.073809
Masters         44.006775
Preschool       42.204819
Prof-school     45.152278
Some-college    35.677055
Name: age, dtype: float64

In [15]:
df.groupby('education')['age'].max()

education
10th            90
11th            90
12th            81
1st-4th         90
5th-6th         84
7th-8th         90
9th             90
Assoc-acdm      90
Assoc-voc       84
Bachelors       90
Doctorate       80
HS-grad         90
Masters         90
Preschool       77
Prof-school     90
Some-college    90
Name: age, dtype: int64

In [16]:
def iqr(x):
    return x.quantile(0.75) - x.quantile(0.25)

In [18]:
df.groupby(['education', 'sex'])['age'].agg(iqr)

education     sex
10th          0        52.00
              114      38.00
              594      17.50
              1055     17.00
              1086     66.00
                       ...
Some-college  20051    71.00
              25236    37.00
              27828    53.25
              34095    20.00
              99999    50.00
Name: age, Length: 722, dtype: float64

In [19]:
df.groupby(['education', 'sex'])['age'].agg(iqr).unstack()

sex,0,114,401,594,914,991,1055,1086,1111,1151,...,15831,18481,20051,22040,25124,25236,27828,34095,41310,99999
education,,,,,,,,,,,,,,,,,,,,,
10th,52.00,38.00,NaN,17.50,NaN,NaN,17.00,66.00,NaN,NaN,...,NaN,NaN,83.0,NaN,NaN,NaN,NaN,18.5,NaN,51.75
11th,42.00,NaN,NaN,18.25,NaN,NaN,18.00,NaN,NaN,38.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12th,41.00,NaN,NaN,26.50,NaN,NaN,19.00,NaN,NaN,NaN,...,NaN,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st-4th,57.00,NaN,NaN,NaN,NaN,NaN,NaN,80.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5th-6th,54.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.00
7th-8th,61.00,NaN,65.00,NaN,NaN,NaN,NaN,68.50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9th,53.00,29.75,NaN,18.00,25.00,NaN,43.50,NaN,70.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.00
Assoc-acdm,44.00,NaN,NaN,20.75,NaN,NaN,NaN,NaN,NaN,44.00,...,NaN,NaN,68.0,NaN,NaN,32.00,43.00,NaN,NaN,37.00
Assoc-voc,45.00,26.00,NaN,41.50,NaN,NaN,NaN,NaN,NaN,27.00,...,75.00,NaN,NaN,NaN,71.75,NaN,31.75,NaN,NaN,42.00
Bachelors,46.00,NaN,66.00,23.00,44.25,85.5,27.75,NaN,NaN,37.75,...,74.00,NaN,70.0,NaN,75.00,45.75,48.00,NaN,NaN,52.50
Doctorate,54.00,NaN,NaN,28.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,72.5,NaN,75.00,52.50,41.00,NaN,NaN,52.50
HS-grad,48.00,36.50,86.75,43.00,51.00,68.0,24.75,75.25,NaN,37.00,...,70.25,NaN,65.5,61.0,73.00,NaN,44.00,37.0,36.0,52.00
Masters,50.00,NaN,NaN,26.00,52.00,NaN,NaN,NaN,NaN,42.00,...,67.00,67.0,76.0,NaN,NaN,49.50,49.25,NaN,63.0,50.75
Preschool,53.50,NaN,NaN,22.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN
Prof-school,51.00,NaN,NaN,NaN,NaN,NaN,NaN,83.75,NaN,NaN,...,NaN,NaN,76.5,NaN,65.00,52.00,55.50,NaN,NaN,54.00
Some-college,44.00,39.00,65.00,21.00,43.75,68.0,22.00,NaN,NaN,40.50,...,74.00,NaN,71.0,NaN,NaN,37.00,53.25,20.0,NaN,50.00