In [2]:
import pandas as pd

In [3]:
grades = pd.DataFrame([['Alice', 'Algebra', 5], ['Bob', 'Algebra', 4], ['Alice', 'Geometry', 3], ['Melanie', 'Algebra', 2]], columns=['student', 'course', 'grade'])

In [5]:
grades #long format

   student    course  grade
0    Alice   Algebra      5
1      Bob   Algebra      4
2    Alice  Geometry      3
3  Melanie   Algebra      2

In [7]:
pivot_grades = grades.pivot(index='student',
             columns='course',
             values='grade')

In [13]:
pivot_grades

course   Algebra  Geometry
student
Alice        5.0       3.0
Bob          4.0       NaN
Melanie      2.0       NaN

In [11]:
pivot_grades.mean(axis=1)

student
Alice      4.0
Bob        4.0
Melanie    2.0
dtype: float64

ValueError: cannot set a row with mismatched columns

In [15]:
grades_rep = pd.DataFrame([['Alice', 'Algebra', 5],
                       ['Bob', 'Algebra', 5],
                       ['Alice', 'Geometry', 3],
                       ['Melanie', 'Algebra', 2],
                       ['Bob', 'Algebra', 5]], columns=['student', 'course', 'grade'])

In [19]:
pivot_grades_rep = grades_rep.pivot_table(index='student',
                                          columns='course',
                                          values='grade',
                                          aggfunc=max)

In [20]:
pivot_grades_rep

course   Algebra  Geometry
student
Alice        5.0       3.0
Bob          5.0       NaN
Melanie      2.0       NaN

In [22]:
gradebook = pd.DataFrame([['Alice', 3, 4], ['Bob', 4, 2]], columns=['student', 'Algebra', 'Geometry'])

In [23]:
gradebook

  student  Algebra  Geometry
0   Alice        3         4
1     Bob        4         2

In [24]:
gradebook.melt(id_vars='student', value_name='grade', var_name='course')

  student    course  grade
0   Alice   Algebra      3
1     Bob   Algebra      4
2   Alice  Geometry      4
3     Bob  Geometry      2